<!DOCTYPE html>
<html>
<head>
<style>
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}


.container {
  padding: 16px;
}

span.signup {
  float: right;
  padding-top: 16px;
}

</style>
</head>
<body>

<h2>Welcome to UTRIP!</h2>
<h3>Sign in</h3>
<%
  if(context["signin_error"] == "active"){
%>
<p>You haven't signed in yet!</p>
<%
  }
%>
<form action="/" method="post">

  <div class="container">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
        
    <button type="submit">Sign In</button>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <span class="signup">Haven't created an account yet? <a href="/signup">Sign Up!</a></span>
  <%
    if(context["error"] == "active"){
  %>
  <p>No User Found!</p>
  <%
    }
  %>
  </div>
</form>

</body>
</html>